.glint {
	transition: filter 0.3s ease;
}

.glint:hover {
	filter: brightness(1.15);
}

.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}

.value {
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}