.row {
	background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
	border-radius: var(--mantine-radius-md)  0 0 var(--mantine-radius-md);
}

.container {
	border-radius: var(--mantine-radius-md);
	background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-9));
}

.userData {
	padding-left: 15px;
	padding-top: 15px;
}

.ghgEmissions {
	padding-left: 10px;
	padding-bottom: 10px;
}

